In [13]:
import pandas as pd 

# data = pd.read_csv('Customers_Data.csv')
# data = pd.read_excel('expense.xlsx')
data = pd.read_excel('ESD.xlsx')


# explore data 
print(data.head())
print(data.tail())
print(data.info())
print(data.describe())
print( data.isnull().sum())

               Age                   Hire Date  Annual Salary      Bonus %  \
count  1000.000000                        1000    1000.000000  1000.000000
mean     44.382000  2012-04-07 02:54:14.400000  113217.365000     0.088660
min      25.000000         1992-01-09 00:00:00   40063.000000     0.000000
25%      35.000000         2007-02-14 00:00:00   71430.250000     0.000000
50%      45.000000         2014-02-15 12:00:00   96557.000000     0.000000
75%      54.000000         2018-06-22 00:00:00  150782.250000     0.150000
max      65.000000         2021-12-26 00:00:00  258498.000000     0.400000
std      11.246981                         NaN   53545.985644     0.117856

                           Exit Date
count                             85
mean   2016-11-02 18:04:14.117647104
min              1994-12-18 00:00:00
25%              2014-12-25 00:00:00
50%              2019-05-23 00:00:00
75%              2021-04-09 00:00:00
max              2022-08-17 00:00:00
std                              NaN

In [1]:
import pandas as pd 

#handling duplicate values 
data = pd.read_csv('company1.csv')

print(data.duplicated() )
# print(data['EEID'].duplicated())

0    False
1    False
2    False
3    False
4    False
5    False
6     True
dtype: bool

In [38]:
print(data)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [9]:
print(data['EEID'].duplicated().sum())
print(data['gender'].count())
print(data['salary'].count())
 
print(data)

1
6
5
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3   <NA>    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6   <NA>     rohit      M  25000.0

In [11]:
# print(data.drop_duplicates('EEID'))
print(data.drop_duplicates('salary'))

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3   <NA>    ayushi      F  20000.0

In [39]:


#handing missing data 


hmd = pd.read_csv('company1.csv')
print(hmd)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [40]:
print(hmd.isnull())

    EEID   Name  gender  salary
0  False  False   False    True
1  False  False   False   False
2  False  False    True   False
3  False  False   False   False
4  False   True   False   False
5  False  False   False    True
6  False  False   False   False

In [14]:
hmd = pd.read_csv('company1.csv')

In [41]:
print(hmd.isnull().sum())

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [44]:
print(hmd.dropna()) # drop null values

    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [17]:
# replace null values
import numpy as np

 
hmd = pd.read_csv('company1.csv')
print(hmd.replace(np.nan , 'default_value'))

# hmd['Name'] = hmd['Name'].replace(np.nan , 'no-name')
# # print(hmd.replace(np.nan , 'default_value'))
# print(hmd)

nan
    EEID           Name         gender         salary
0  EMP01         ayushi              F  default_value
1  EMP02          rohit              M        25000.0
2  EMP03       pranjali  default_value        27000.0
3  EMP01         ayushi              F        20000.0
4  EMP05  default_value              M        25000.0
5  EMP06          rohit              M  default_value
6  EMP02          rohit              M        25000.0

In [18]:
import numpy as np
hmd = pd.read_csv('company1.csv')


# Mean = the average value (the sum of all values divided by number of values). 
# Median = the value in the middle, after you have sorted all values ascending.
# Mode = the value that appears most frequently.


# mean__ = hmd['salary'].mean()
# mean__ = hmd['salary'].mode()[0] # finding most common value 

# print(mean__)

# hmd['salary'] = hmd['salary'].replace(np.nan , mean__ )
# print(hmd)

Mean Salary: 24400.0
Median Salary: 25000.0
Mode Salary: 25000.0

Modified DataFrame (after replacing NaN with Mode):
    EEID      Name gender   salary
0  EMP01    ayushi      F  25000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  25000.0
6  EMP02     rohit      M  25000.0

In [70]:

# filling null values 

hmd_ = hmd = pd.read_csv('company1.csv')

hmd_['gender'] = hmd_['gender'].bfill() # backword fill 
hmd_['gender'] = hmd_['gender'].ffill() # forward fill 
print(hmd_)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [73]:

# column transformation 


esd = pd.read_excel('ESD.xlsx')
 
esd.loc[esd['Bonus %'] == 0 , "GetBonus"] = "No bonus"
esd.loc[esd['Bonus %'] > 0 , "GetBonus"] = "bonus"
 
 
print(esd.head(10))

     EEID        Full Name                 Job Title  Department  \
0  E02387      Emily Davis                Sr. Manger          IT
1  E04105    Theodore Dinh       Technical Architect          IT
2  E02572     Luna Sanders                  Director     Finance
3  E02832  Penelope Jordan  Computer Systems Manager          IT
4  E01639        Austin Vo               Sr. Analyst     Finance
5  E00644     Joshua Gupta    Account Representative       Sales
6  E01550      Ruby Barnes                   Manager          IT
7  E04332      Luke Martin                   Analyst     Finance
8  E04533    Easton Bailey                   Manager  Accounting
9  E03838  Madeline Walker               Sr. Analyst     Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913
4           Manufacturing    Male      Asian   55 1995-11-20          95409
5               Corporate    Male      Asian   57 2017-01-24          50994
6               Corporate  Female  Caucasian   27 2020-07-01         119746
7           Manufacturing    Male      Black   25 2020-05-16          41336
8           Manufacturing    Male  Caucasian   29 2019-01-25         113527
9     Speciality Products  Female  Caucasian   34 2018-06-13          77203

   Bonus %        Country       City  Exit Date  GetBonus
0     0.15  United States    Seattle 2021-10-16     bonus
1     0.00          China  Chongqing        NaT  No bonus
2     0.20  United States    Chicago        NaT     bonus
3     0.07  United States    Chicago        NaT     bonus
4     0.00  United States    Phoenix        NaT  No bonus
5     0.00          China  Chongqing        NaT  No bonus
6     0.10  United States    Phoenix        NaT     bonus
7     0.00  United States      Miami 2021-05-20  No bonus
8     0.06  United States     Austin        NaT     bonus
9     0.00  United States    Chicago        NaT  No bonus

In [78]:

#column transformation 

esd = pd.read_excel('ESD.xlsx')
 
esd['describe_employee'] = esd['EEID'] + ' ' + esd['Full Name'].str.upper()  + ' ' +  esd['Job Title'] 
esd['tax'] = esd['Annual Salary'] - ((esd['Annual Salary'] / 100) * 10 )  
 

print(esd.head(4))

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099
3           Manufacturing  Female  Caucasian   26 2019-09-27          84913

   Bonus %        Country       City  Exit Date  \
0     0.15  United States    Seattle 2021-10-16
1     0.00          China  Chongqing        NaT
2     0.20  United States    Chicago        NaT
3     0.07  United States    Chicago        NaT

                                 describe_employee       tax
0                    E02387 EMILY DAVIS Sr. Manger  127443.6
1         E04105 THEODORE DINH Technical Architect   89977.5
2                     E02572 LUNA SANDERS Director  146789.1
3  E02832 PENELOPE JORDAN Computer Systems Manager   76421.7

In [22]:

# summarizing data ( group by )

# sum(): Returns the sum of the values.
# mean(): Returns the average of the values.
# count(): Returns the number of non-NA/null observations.
# max(): Returns the maximum value.
# min(): Returns the minimum value.
# median(): Returns the median value.


esd = pd.read_excel('ESD.xlsx')
 
agg_ = esd.groupby(['Department' , 'Gender']).agg({"EEID":"count"})
agg_ = esd.groupby(['Department' , 'Ethnicity']).agg({"EEID":"count"})




print(agg_)

                           EEID
Department      Ethnicity
Accounting      Asian        41
                Black         3
                Caucasian    32
                Latino       20
Engineering     Asian        56
                Black         7
                Caucasian    44
                Latino       51
Finance         Asian        51
                Black         9
                Caucasian    27
                Latino       33
Human Resources Asian        50
                Black        14
                Caucasian    28
                Latino       33
IT              Asian        93
                Black        20
                Caucasian    75
                Latino       53
Marketing       Asian        55
                Black         8
                Caucasian    33
                Latino       24
Sales           Asian        58
                Black        13
                Caucasian    32
                Latino       37

In [32]:

# merging - joining and concatination 
import pandas as pd 


employee = {
    "id": [1,2,3,4], 
    'names': ['ahmad' , 'mahmood' , 'khalil' , 'khanwali'],
    'salary': [12000,10000,4500,8000]
}
employee2 = {
    "id": [1,2,3,4], 
    'names': ['ahmad' , 'mahmood' , 'khalil' , 'khanwali'],
    'salary': [12000,10000,4500,8000]
}

df = pd.DataFrame(employee)
df1 = pd.DataFrame(employee2)
emp = pd.merge(df,df1, on='id')
emp = pd.merge(df,df1, how='left')

emp = pd.concat([df,df1])

print(emp.loc[0])

   id  names  salary
0   1  ahmad   12000
0   1  ahmad   12000