In [22]:
import pandas as pd 

# stud = {
#     'id': [22,33,44], 
#     'name': ['ahamd', 'khalil' , 'haris'], 
#     'score': [89 , 79 , 10 ], 
#     'age': [18 , 20 , 25]
# }

# df = pd.DataFrame(stud)
 
data = pd.read_csv('Customers_Data.csv')

 

# data = pd.read_excel('expense.xlsx')


# # explore data 
# print(data.head(20))
# print(data.tail(3))
# print(data.info())
# print(data.describe())
print( data.isnull().sum())

CustomerKey         0
Prefix            130
FirstName           0
LastName            0
BirthDate           0
MaritalStatus       0
Gender            130
EmailAddress        0
AnnualIncome        0
TotalChildren       0
EducationLevel      0
Occupation          0
HomeOwner           0
dtype: int64

In [32]:
import pandas as pd 

#handling duplicate values 
data = pd.read_csv('company1.csv')

 

# print(f"duplicated data in EEDI: {data['EEID'].duplicated().sum()}" )
# print(data.count())
# print(data['Name'].duplicated())
print(data)

duplicated data in EEDI: 2
    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [38]:
data = pd.read_csv('company1.csv')

# data = data.drop_duplicates('EEID')
# data = data.drop_duplicates('salary')
 
# print(data)
 
# print(data['salary'].duplicated().sum())
 
# data['gender'] = data['gender'].where(~data['gender'].duplicated(), other=pd.NA)
# data.loc[data['EEID'].duplicated(), 'EEID'] = 'n/a'

print(data)
# print(data['EEID'].duplicated().sum())

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi   <NA>  20000.0
4  EMP05       NaN   <NA>  25000.0
5  EMP06     rohit   <NA>      NaN
6  EMP02     rohit   <NA>  25000.0

In [40]:


#handing missing data 
hmd = pd.read_csv('company1.csv')

# print(hmd.isnull())
print(hmd.isnull().sum())
# print(hmd)

EEID      0
Name      1
gender    1
salary    2
dtype: int64

In [41]:
hmd = pd.read_csv('company1.csv')
print(hmd)
print(hmd.dropna()) # drop null values

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0
    EEID    Name gender   salary
1  EMP02   rohit      M  25000.0
3  EMP01  ayushi      F  20000.0
6  EMP02   rohit      M  25000.0

In [46]:
# replace null values
import numpy as np
hmd = pd.read_csv('company1.csv')

hmd['Name'] = hmd['Name'].replace(np.nan , 'no-name')
hmd['salary'] = hmd['salary'].replace(np.nan , 0)

# print(hmd.replace(np.nan , 'n/a'))
# # print(hmd.replace(np.nan , 'default_value'))
print(hmd)

    EEID      Name gender   salary
0  EMP01    ayushi      F      0.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05   no-name      M  25000.0
5  EMP06     rohit      M      0.0
6  EMP02     rohit      M  25000.0

In [49]:
import numpy as np
hmd = pd.read_csv('company1.csv')


# Mean = the average value (the sum of all values divided by number of values). 
# Median = the value in the middle, after you have sorted all values ascending.
# Mode = the value that appears most frequently.


# mean__ = hmd['salary'].median()
# m__ = hmd['salary'].mean()
mode__ = hmd['salary'].mode()[0] # finding most common value 

# print(mean__)

hmd['salary'] = hmd['salary'].replace(np.nan , mode__ )
print(hmd)

    EEID      Name gender   salary
0  EMP01    ayushi      F  25000.0
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali    NaN  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M  25000.0
6  EMP02     rohit      M  25000.0

In [57]:

# filling null values 

hmd_ = pd.read_csv('company1.csv')
# print(hmd_)
# hmd_['gender'] = hmd_['gender'].bfill() # backword fill 
hmd_['gender'] = hmd_['gender'].ffill() # forward fill 
print(hmd_)

    EEID      Name gender   salary
0  EMP01    ayushi      F      NaN
1  EMP02     rohit      M  25000.0
2  EMP03  pranjali      M  27000.0
3  EMP01    ayushi      F  20000.0
4  EMP05       NaN      M  25000.0
5  EMP06     rohit      M      NaN
6  EMP02     rohit      M  25000.0

In [59]:

# column transformation 
 

esd = pd.read_excel('ESD.xlsx')
 
# print(esd)
esd.loc[esd['Bonus %'] == 0 , "GetBonus"] = "No bonus"
esd.loc[esd['Bonus %'] > 0 , "GetBonus"] = 'YES HE/SHE HAS BOUNUS'
 
 
print(esd.head(3))

     EEID      Full Name            Job Title Department  \
0  E02387    Emily Davis           Sr. Manger         IT
1  E04105  Theodore Dinh  Technical Architect         IT
2  E02572   Luna Sanders             Director    Finance

            Business Unit  Gender  Ethnicity  Age  Hire Date  Annual Salary  \
0  Research & Development  Female      Black   55 2016-04-08         141604
1           Manufacturing    Male      Asian   59 1997-11-29          99975
2     Speciality Products  Female  Caucasian   50 2006-10-26         163099

   Bonus %        Country       City  Exit Date               GetBonus
0     0.15  United States    Seattle 2021-10-16  YES HE/SHE HAS BOUNUS
1     0.00          China  Chongqing        NaT               No bonus
2     0.20  United States    Chicago        NaT  YES HE/SHE HAS BOUNUS

In [61]:

#column transformation 

esd = pd.read_excel('ESD.xlsx')
 
esd['card'] = esd['EEID'] + ' ' + esd['Full Name'].str.title()  + ' ' +  esd['Job Title'] 
esd['tax'] = esd['Annual Salary'] - ((esd['Annual Salary'] / 100) * 10 )
 

print(esd.head(4))

     EEID        Full Name                 Job Title Department  \
0  E02387      Emily Davis                Sr. Manger         IT
1  E04105    Theodore Dinh       Technical Architect         IT
2  E02572     Luna Sanders                  Director    Finance
3  E02832  Penelope Jordan  Computer Systems Manager         IT

            Business Unit  Gender  Ethnicity                 Age  Hire Date  \
0  Research & Development  Female      Black  CURRENT YEAR - DOB 2016-04-08
1           Manufacturing    Male      Asian  CURRENT YEAR - DOB 1997-11-29
2     Speciality Products  Female  Caucasian  CURRENT YEAR - DOB 2006-10-26
3           Manufacturing  Female  Caucasian  CURRENT YEAR - DOB 2019-09-27

   Annual Salary  Bonus %        Country       City  Exit Date  \
0         141604     0.15  United States    Seattle 2021-10-16
1          99975     0.00          China  Chongqing        NaT
2         163099     0.20  United States    Chicago        NaT
3          84913     0.07  United States    Chicago        NaT

                                              card       tax
0                    E02387 Emily Davis Sr. Manger  127443.6
1         E04105 Theodore Dinh Technical Architect   89977.5
2                     E02572 Luna Sanders Director  146789.1
3  E02832 Penelope Jordan Computer Systems Manager   76421.7

In [66]:

# summarizing data ( group by )

# sum(): Returns the sum of the values.
# mean(): Returns the average of the values.
# count(): Returns the number of non-NA/null observations.
# max(): Returns the maximum value.
# min(): Returns the minimum value.
# median(): Returns the median value.


esd = pd.read_excel('ESD.xlsx')
 
agg_ = esd.groupby(['Department' , 'Ethnicity' , 'Gender']).agg({"EEID":"count"})
# agg_ = esd.groupby(['Department' , 'Ethnicity']).agg({"EEID":"count"})
# agg_ = esd.groupby(['Ethnicity']).agg({"EEID":"count"})




print(agg_)

                                  EEID
Department      Ethnicity Gender
Accounting      Asian     Female    22
                          Male      19
                Black     Female     1
                          Male       2
                Caucasian Female    17
                          Male      15
                Latino    Female    13
                          Male       7
Engineering     Asian     Female    29
                          Male      27
                Black     Female     3
                          Male       4
                Caucasian Female    22
                          Male      22
                Latino    Female    26
                          Male      25
Finance         Asian     Female    30
                          Male      21
                Black     Female     6
                          Male       3
                Caucasian Female    17
                          Male      10
                Latino    Female    16
                          Male      17
Human Resources Asian     Female    25
                          Male      25
                Black     Female     7
                          Male       7
                Caucasian Female    13
                          Male      15
                Latino    Female    19
                          Male      14
IT              Asian     Female    47
                          Male      46
                Black     Female     7
                          Male      13
                Caucasian Female    40
                          Male      35
                Latino    Female    25
                          Male      28
Marketing       Asian     Female    24
                          Male      31
                Black     Female     6
                          Male       2
                Caucasian Female    14
                          Male      19
                Latino    Female    13
                          Male      11
Sales           Asian     Female    30
                          Male      28
                Black     Female     7
                          Male       6
                Caucasian Female    17
                          Male      15
                Latino    Female    22
                          Male      15

In [81]:

# merging - joining and concatination 
import pandas as pd 


employee = {
    "id": [1,2,3,4], 
    'names': ['ahmad' , 'mahmood' , 'khalil' , 'khanwali'],
    'salary': [12000,1020,23200,2332]
}
employee2 = {
    "id": [1,2,3,4],  
    'names': ['ahmad' , 'mahmood2' , 'khalil3' , 'khanwali4'],
    'salary': [12000,10000,4500,8000], 
    # 'score': [12,2,233,45]
}


employee3 = {
    "id": [5,6,7,8],  
    'names': ['a' , 'c' , 'c' , 'd'],
    'salary': [1,2,3,4]
}

df = pd.DataFrame(employee)
df1 = pd.DataFrame(employee2)
df2 = pd.DataFrame(employee3)
# emp = pd.merge(df,df1, on='id')
# emp = pd.merge(df,df1, how = "right")
emp = pd.concat([df,df1, df2])
 

print(emp)

   id      names  salary
0   1      ahmad   12000
1   2    mahmood    1020
2   3     khalil   23200
3   4   khanwali    2332
0   1      ahmad   12000
1   2   mahmood2   10000
2   3    khalil3    4500
3   4  khanwali4    8000
0   5          a       1
1   6          c       2
2   7          c       3
3   8          d       4

: